<table>
<th>Date</th>
<th>Client</th>
<th>Hours</th>
<th>User</th>
<th>Description</th>
<th>Destroy</th>
<% @sessions.each do |session| %>
<tr>
<td><%= session.date %></td>
<td><%= session.client.name %></td>
<td><%= session.hours %></td>
<td><%= session.user.email %></td>
<td><%= session.description %></td>
<td><%= button_to "Delete", session, :method => :delete %></td>
</tr>
<% end %>