<p class= "heading">Created/Updated the Entry:</p>
<table>
    <tr>
<td><%= @session.user_id %></td>
<td><%= @session.client_id %></td>
<td><%= @session.hours %></td>
<td><%= @session.date %></td>
<td><%= @session.description %></td>
    </tr>
</table>